

.simple-carousel
{
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: relative;
}

.simple-carousel > .pages
{
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    position: relative;
}

.simple-carousel > .pages > .page-box
{
    position: absolute;
    margin: 0px;
    top: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    height: 100%;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
}

.simple-carousel > .pages > .page-box.ani-half
{
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
}

.simple-carousel > .pages > .page-box.ani-full
{
    transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    transition-timing-function: ease-out-in;
    -webkit-transition-timing-function: ease-out-in;
}

.simple-carousel > .pages > .page-box .center
{
    text-align: center;
}

.simple-carousel > .dots
{
    display: block;
    margin: 0px auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    text-align: center;
}

.simple-carousel > .dots > .dot
{
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0px 3px;
    border-radius: 3px;
    background-color: #ffffff;
    opacity: 0.3;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.simple-carousel > .dots > .dot.hl
{
    opacity: 0.75;
}